body {
  background-color: orange;
}

table {
  border-collapse: black;
}

th {
  height: 70px;
}
td {
  text-align: center;
}
th {
  text-align: center;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 35%;
  
tr:nth-child(even) {background-color: yellow;}
th {
  background-color: black;
  color: white;
}
<h1>
{
  color: red;
}
</h1>
